<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About-me</title>
  <link rel="stylesheet" href="../static/css/about.css">
</head>
<body>
  <h2 id="about-me-h2">About Me</h2>
<div>
  <p class="personal-info">Мені 16 років. Звати мене Діма. Навчаюсь на програміста і захоплююсь цією сферою.
    Особливо мені подобається займатися програмуванням і перевіркою проектів.
    У вільний час також люблю грати в комп'ютерні ігри та розвивати свої навички у товарному бізнесі, точніше вообще в бізнесі.
    Програмування для мене - це захоплюючий світ, де я можу реалізувати свої ідеї та створювати корисні та цікаві рішення.</p>
  <p class="personal-hobby">Мої хобі:</p>
  <ul>
    <li class="hobby">Гра в комп'ютерні ігри</li>
    <li class="hobby">Розвиток навичок у товарному бізнесі</li>
  </ul>
</div>
</body>
</html>