<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="about.html">
    <title>My-Blog</title>
</head>
<body>
    <section class="video-background">
        <video src="../static/video/video.mp4" autoplay loop muted></video>
        <div class="text">
            <h1>My Blog</h1>

            <p>Hello, I wanna start my career in CyberSecurity or QA</p>
            <div class="buttons">
                <a href="https://t.me/maryyday"><img src="../static/img/telegram.png" alt="Telegram"></a>
                <a href="https://www.youtube.com/channel/UCcVS2VBqngxtqJzHC26p9dw"><img src="../static/img/youtube.png" alt="YouTube"></a>
                <a href="https://www.instagram.com/c4b1337/"><img src="../static/img/instagram.png" alt="Instagram"></a>
            </div>
            <button class="news-button" onclick="location.href='news.html'">News</button>
            <button class="about-me-button" onclick="location.href='about.html'">About Me</button>
        </div>
    </section>
</body>
</html>