<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link rel="stylesheet" href="../static/css/news.css">
</head>
<body>
    <h2 id="news-h2">News 104 Group</h2>
    <div>
        <p>Восьмого червня, наша група відвідає SoftServe. На Садова 2д.</p>
        <a href="https://www.softserveinc.com/uk-ua"><img src="../static/img/softserve-news.png" alt="SoftServe"></a>
    </div>

    <div>
        <p>Учні 104 групи, в четверг (з 1 по 3 червня) їдуть на джуру.</p>
        <a href="https://uk.wikipedia.org/wiki/%D0%A1%D0%BE%D0%BA%D1%96%D0%BB_%E2%80%94_%D0%94%D0%B6%D1%83%D1%80%D0%B0"><img
                src="/static/img/Dzhura.png" alt="Dzuhara"></a>
    </div>
</body>
</html>